h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}


ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
    background-color: #FFFFFF;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

li {
    list-style-type: none;
}

input {
    font-family: inherit;
}

button {
    font-family: inherit;
    color: currentColor;
}

/* ========== Header ========== */

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    
}

.container .header-nav {
    display: flex;
    align-items: center;
}

.header-nav .logo {
    margin-right: 76px;
}

.header-nav .nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-list .link {
    padding: 24px 0;
    display: block;
}

.header-contacts-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-contacts-list .link {
    padding: 24px 0;
    display: block;
}

.logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
}

.logo .accent {

    color: #2e2f42;
}

.nav-list,
.header-contacts-list {
    list-style-type: none;
}

.nav-list .link {
    font-weight: 500;
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: #404BBF;
}

/* Это правило было в нижнем правиле, но авточекер не пропустил его */
.header-contacts {
    font-style: normal;
}

.header-contacts .link {
    color: currentColor;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list .link:hover,
.header-contacts-list .link:focus {
    color: #404BBF;
}

/* modul 4 */

.nav-list li:first-child .link {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.nav-list li:first-child .link::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px; 
    display: block;
    position: absolute;
    bottom: -1px;
}

/* modul 4 */
/* ========== /Header ========== */

/* ========== Hero ========== */

.hero {
    text-align: center;
    padding: 188px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg/hero-bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.hero-title-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.hero-title-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title-button:hover,
.hero-title-button:focus {
    background-color: #404BBF;
}

.hero .hero-title {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
}
/* ========== /Hero ========== */

/* ========== Advantages ========== */
/* modul 4 */

.advantages-icon-wrapper {
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
}


/* modul 4 */
.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-list-item {
    flex-basis: calc((100% - 72px) / 4);
}

.advantages-subtitle {
    margin-bottom: 8px;
}

.advantages-list {
    list-style-type: none;
}

.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.advantages-text {
    letter-spacing: 0.02em;
    color: currentColor;
}

/* ---/Advantages--- */

/* ---Team--- */

.team-title {
    margin: 0 auto 72px auto;
}

.team-section {
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.team-border {
    padding: 32px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.team-list-item {
    background-color: #FFFFFF;
    list-style-type: none;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-text {
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* modul 4 */
.team-social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon {
    fill: #f4f4fd;
}

.team-social-links .team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    /* fill: #FFFFFF; */
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-social-links .team-link:hover,
.team-social-links .team-link:focus {
    background-color: #404bbf;
}

/* modul 4 */

/* ---/Team--- */

/* ---Portfolio--- */

.portfolio-title {
    margin: 0 auto 72px auto;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}


/* modul 4 */
.portfolio-image-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-portfolio-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay-portfolio-text {
    transform: translateY(0);
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* modul 4 */


.portfolio-subtitle {
    margin-bottom: 8px;
}

.portfolio-border {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

.portfolio-list-item {
    list-style-type: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.portfolio-text {
    text-align: left;
    letter-spacing: 0.02em;
}



/* ---/Portfolio--- */

/* ---Footer--- */
.site-footer {
    padding: 100px 0;
}

.site-footer .logo {
    display: inline-block;
    margin-bottom: 16px; 
}

.site-footer {
    background-color: #2E2F42;
}

.accent-footer {
    color: #F4F4FD;
}

.text-footer {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
/* modul 4 */

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.footer-left {
    margin-right: 120px;
}

.footer-social-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-links {
    display: flex;
    gap: 16px;
    width: 208px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}


.footer-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover,
.footer-links:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #f4f4fd;
}

/* modul 4 */

/* modul 5 */
.footer-center {
    margin-right: 80px;
}


.subscribe-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    border: 1px solid #fff; 
    border-radius: 4px; 
    width: 264px; 
    height: 40px; 
    outline: transparent;
    background-color: transparent; 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); 
    color: #fff; 
    padding: 0 16px; 
    font-size: 12px; 
    line-height: 2; 
    letter-spacing: 0.04em; 
}

.footer-input::placeholder {
    color: #fff;
}

.footer-button {
    min-width: 165px; 
    padding-left: 8px;
    padding-right: 8px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background: #4d5ae5; 
    border-radius: 4px; 
    border: none; 
    font-weight: 500; 
    line-height: 1.5; 
    letter-spacing: 0.04em; 
    color: #fff; 
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404bbf;
}

.footer-button-icon {
    margin-left: 16px;
}


/* modul 5 */
/* ---/Footer--- */

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    position: absolute;
    padding: 72px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.modul-wrapper-button-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border:1px solid rgba(0, 0, 0, 0.1);;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button-icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modul-wrapper-button-icon:hover,
.modul-wrapper-button-icon:focus .modal-button-icon-close {
    fill: #fff;
}


.modul-wrapper-button-icon:hover,
.modul-wrapper-button-icon:focus {
    background-color: #404bbf;
    border: none;
    
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-input-wrpapper {
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    outline: transparent;
    padding-left: 38px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-input:focus + .modal-intup-icon {
    fill: #4D5AE5;
}

.modal-input-icon-wrapper {
    position: relative;
}

.modal-intup-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-textarea-wrapper {
    margin-bottom: 16px;
}

.modal-textarea {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: none;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border: 1px solid #4d5ae5;
}

.checkbox-privacy-policy-wrapper {
    margin-bottom: 24px;
}

.checkbox-privacy-policy-label {
    /* display: inline-flex; */
    align-items: center; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    fill: transparent;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkmark {
    fill: #f4f4fd;
    opacity: 0; 
}

.modal-checkbox:checked + .checkbox-privacy-policy-label .modal-checkmark {
    opacity: 1;
}

.modal-checkbox:checked+.checkbox-privacy-policy-label .modal-custom-checkbox {
    background-color: #404bbf;
    /* border: 1px solid #404bbf; */
    border: none;
    fill: #f4f4fd;
}

.policy-terms {
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-button {
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
}
