/* ========== Common Styles ========== */
:root {
    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input {
    font-family: inherit;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

address {
    font-style: normal;
}

/* ========== /Common Styles ========== */

.container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 318px;
    margin: 0 auto;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    } 
}

/* ========== \Common Styles for ========== */


/* ========== Header ========== */



.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
}

.logo .accent {
    color: #2e2f42;
}

.header-btn-open {
    padding: 0;
    line-height: 0;
    stroke: #2f2f37;
    fill: #2f2f37;
    transition: stroke var(--main-transition), fill var(--main-transition);
}

.header-btn-open:hover,
.header-btn-open:focus {
    stroke: #4D5AE5;
    fill: #4D5AE5;
}

.nav-list,
.header-contacts {
    display: none;
}

/* ==Overlay burger== */
@media screen and (max-width: 767px) {
    .overlay-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 72px 24px 40px 16px;
    transform: translateX(100%);
    transition: transform var(--main-transition);
}

.overlay-wrapper.is-open {
    transform: translateX(0);
}
    
.overlay-header-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.overlay-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9FC;
    cursor: pointer;
    padding: 0;
    transition: var(--main-transition);
}

.overlay-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

/* .overlay-nav-list li:first-child .link {
    color: #404bbf;
} */

.overlay-nav-list .link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color var(--main-transition);
}

.overlay-nav-list .link:hover,
.overlay-nav-list .link:focus {
    color: #404BBF;
}

.overlay-contacts-list .link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: block;
    margin-bottom: 24px;
    transition: color var(--main-transition);
}

.overlay-contacts-list .link:hover,
.overlay-contacts-list .link:focus {
    color: #4d5ae5;
}

.overlay-social {
    display: flex;
    gap: 40px;
    width: 100%;
}

.overlay-social-item {
    width: 40px;
    height: 40px;
}

.overlay-social-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-social-icons {
    fill: #f4f4fd;
}

}
/* ==/Overlay burger== */



@media screen and (min-width: 768px) {
    .header-btn-open {
        display: none;
    }

    .overlay-wrapper {
        display: none;
    }

    .header-wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }
    
    .header-nav {
        display: flex;
        gap: 120px;
        align-items: center;
    }

    .nav-list .link {
        padding: 24px 0;
        display: block;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color var(--main-transition);
    }

    .nav-list .link:hover,
    .nav-list .link:focus {
        color: #404BBF;
    }

    .header-contacts {
        display: flex;
    }

    .header-contacts-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    
    .header-contacts .link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color var(--main-transition);
    }

    .header-contacts-list .link:hover,
    .header-contacts-list .link:focus {
        color: #404BBF;
    }

    .nav-list li:first-child .link {
        position: relative;
        color: #404bbf;
        transition: color var(--main-transition);
    }

    .nav-list li:first-child .link::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px; 
        display: block;
        position: absolute;
        bottom: -1px;
    }

}

@media screen and (min-width: 1158px) {

    .header-nav {
        gap: 76px;
    }

    .header-contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}


/* ========== /Header ========== */

/* ========== Hero ========== */

.hero {
    padding: 72px 0;
    text-align: center;
    max-width: 320px;
    margin: 0 auto;

    background-color: rgba(46, 47, 66, 0.7); 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../images/hero-bg/hero-bg-phone.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg/hero-bg-phone@2x.jpg);
    }
}

.hero-title {
    max-width: 216px;
    margin: 0 auto 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-title-button {
    display: block;
    min-width: 169px;
    margin: 0 auto;
    height: 56px;
    padding: 16px 32px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4px;
    transition: background-color var(--main-transition);
}

.hero-title-button:hover,
.hero-title-button:focus {
    background-color: #404BBF;
}



/* Tablet Hero */

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg/hero-bg-tablet.jpg); 
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin: 0 auto 36px;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg/hero-bg-tablet@2x.jpg);
    }
}

/* /Tablet Hero */


/* Desktop Hero */

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg/hero-bg-desktop.jpg);
    }

    .hero-title {
         margin: 0 auto 48px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg/hero-bg-desktop@2x.jpg);
    }
}
/* Desktop Hero */

/* ========== /Hero ========== */



/* ========== Advantages ========== */

/* Mobile advantages */

.advantages-icon-wrapper {
    display: none;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.advantages-list-item {
    flex-basis: calc((100% - 216px) / 4);
}

.advantages-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
    
/* /Mobile advantages */

/* Tablet advantages */
@media screen and (min-width: 768px) {
    .advantages-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .advantages-list-item {
        flex-basis: calc((100% - 24px) / 2 );
    }
    
    .advantages-subtitle {
        text-align: start;
    }        
}

/* /Tablet advantages */

/* Desktop advantages */
@media screen and (min-width: 1158px) {
    .advantages-icon-wrapper {
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #F4F4FD;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
    }

    .advantages-list {
        display: flex;
        gap: 24px;
    }

    .advantages-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .advantages-subtitle {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }


    .advantages-text {
        letter-spacing: 0.02em;
        color: currentColor;
        font-weight: 400;
    }
}

/* /Desktop advantages */

/* ========== /Advantages ========== */


/* ========== Our team ========== */

.team-section {
    background-color: #F4F4FD;
}

.team-title {
    margin: 0 auto 72px auto;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.team-list-item {
    flex-basis: calc((100% - 216px) / 4);
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-border {
    padding: 32px 0;
}

.team-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon {
    fill: #f4f4fd;
}

.team-social-links .team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    /* fill: #FFFFFF; */
    transition: background-color var(--main-transition);
}

.team-social-links .team-link:hover,
.team-social-links .team-link:focus {
    background-color: #404bbf;
}

/* Tablet team */
@media screen and (min-width: 768px) {
    

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }
    
    .team-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-wrapper {
            max-width: 552px;
        }
}

/* /Tablet */

/*  Desktop team */

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }
}

/*  /Desktop  */

/* ========== /Our team ========== */

/* ========== /Our portfolio ========== */




/* ========== /Our portfolio ========== */